format = """╭─$time$directory$git_branch$nodejs$rust\n$character"""

[character]
success_symbol = "[╰─](white)[>](green)"
error_symbol = "[╰─](white)[x](red)"

[time]
disabled = false
time_format = "%T" # Hour:Minute Format
style = "yellow"
format = '[ $time ]($style)'

[directory]
truncation_length = 3
truncation_symbol = "../"

[rust]
symbol = ""
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = ""
format = '[ $symbol ($version) ]($style)'
